[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/hxc20060903
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/hxc20060903
	label-Verified = -1..+1 group user/hxc20060903
	push = group user/hxc20060903
	read = group user/hxc20060903
	rebase = group user/hxc20060903
	removeReviewer = group user/hxc20060903
	submit = group user/hxc20060903
[access "refs/heads/*"]
	create = group user/hxc20060903
	push = +force group user/hxc20060903
	pushMerge = group user/hxc20060903
	read = group user/hxc20060903
[access "refs/tags/*"]
	push = group user/hxc20060903
	push = +force group user/hxc20060903
